body{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 50%;
}

button{
    background-color: red;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}